In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time 
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r"C:\Users\vorap\OneDrive\Desktop\chromedriver.exe")

In [3]:
driver.get("https://www.amazon.in/")

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("Laptop")

In [9]:
sear=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
sear.click()

In [19]:
title=[]
price=[]
rating=[]

titles = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
title = []
for t in titles[:10]:
    title.append(t.text)
    
prices = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
price = []
for p in prices[:10]:
    price.append(p.text)
    
ratings = driver.find_elements(By.XPATH, '//span[@class="a-icon-alt"]')
rating = []
for r in ratings[:10]:
    rating.append(r.get_attribute("innerHTML"))

In [20]:
print(len(title),
len(price),
len(rating),)

10 10 10

In [21]:
df=pd.DataFrame({'Titles':title,'Price':price,'Rating':rating})
df

,Titles,Price,Rating
0,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...","70,990",3.8 out of 5 stars
1,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...","98,990",4.4 out of 5 stars
2,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,"79,990",4.4 out of 5 stars
3,Acer Predator Helios Neo 16 Gaming Laptop 13th...,"1,29,990",3.4 out of 5 stars
4,HP Envy x360 12th Gen Intel Core i7-13.3 inch(...,"1,03,990",4.1 out of 5 stars
5,HP Victus Gaming Latest 12th Gen Intel Core i7...,"90,990",4.2 out of 5 stars
6,"Dell G15-5530 Gaming Laptop, Intel Core i7-136...","1,31,860",5.0 out of 5 stars
7,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,"1,03,990",5.0 out of 5 stars
8,"ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...","1,15,990",4.3 out of 5 stars
9,Acer Predator Helios Neo 16 Gaming Laptop 13th...,"1,49,990",4.2 out of 5 stars