In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r"C:\Users\vorap\OneDrive\Desktop\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys("Data Scientist")

In [5]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div[1]/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [6]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    loc=i.text
    job_location.append(loc)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    comp=i.text
    company_name.append(comp)

In [8]:
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,})
df

,Title,Location,Company
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Scientist,Bangalore/Bengaluru,Ericsson
4,Data Scientist,Bangalore/Bengaluru,Ericsson
5,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS)
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart
7,Data Scientist,Bangalore/Bengaluru,Walmart
8,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS)
9,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain