In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r"C:\Users\vorap\OneDrive\Desktop\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys("Data Scientist")

In [5]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div[1]/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Delhi/NCR")

In [6]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    loc=i.text
    job_location.append(loc)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    comp=i.text
    company_name.append(comp)
    
expri=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expri[0:10]:
    exp=i.text
    experience.append(exp)

In [16]:
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Exprienece":experience})
df

,Title,Location,Company,Exprienece
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),7-12 Yrs
5,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
6,Data Scientist,Noida,Innovaccer,2-4 Yrs
7,Lead Assistant Manager,Gurgaon/Gurugram,EXL,2-6 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,MLOps - Data Scientist,Noida,Paytm,3-8 Yrs