In [9]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time 
import warnings
warnings.filterwarnings("ignore")

In [10]:
driver = webdriver.Chrome(r"C:\Users\vorap\OneDrive\Desktop\chromedriver.exe")

In [11]:
driver.get("https://www.naukri.com/")

In [12]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys("Data Analyst")

In [13]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div[1]/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [14]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [17]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    loc=i.text
    job_location.append(loc)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    comp=i.text
    company_name.append(comp)
    
expri=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expri[0:10]:
    exp=i.text
    experience.append(exp)

In [18]:
len(job_title)

10

In [19]:
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Exprienece":experience})
df

,Title,Location,Company,Exprienece
0,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
2,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",Hitachi Energy,3-6 Yrs
3,Knowledge Data Analyst,Bangalore/Bengaluru,SAP,4-6 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tata Consultancy Services (TCS),5-10 Yrs
5,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
6,Data Analyst (Bangalore),Bangalore/Bengaluru,Krazy Mantra,7-12 Yrs
7,Insight Data Analyst,"Bangalore/ Bengaluru, Karnataka, Noida, Uttar ...",Vuca Consulting,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Loyalytics Consulting,4-9 Yrs
9,Data Analyst,Bangalore/Bengaluru,Clairvoyant India Pvt. Ltd,3-6 Yrs